# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
*.egg-info/
dist/
build/
.venv/
venv/

# Node
node_modules/
.next/
.env.local
.env.production.local
npm-debug.log*

# GCP credentials
*.json
!package.json
!tsconfig.json
!vercel.json

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
frontend/tsconfig.tsbuildinfo
